body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 100vh;
      background: linear-gradient(133deg, rgba(168, 253, 238, 1) 13%, rgba(255, 169, 249, 1) 92%);
}

.img-left {
    width: 50%;
    height: 100%;
}

.side-right{
     width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-login{
    position: relative;
    width: 65%;
    height: 700px;
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 30px;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    box-shadow: rgba(0, 0, 0, 0.47) 0px 3px 8px;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-login::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255,255,255,0.05);
    border-radius: 30px;
    pointer-events: none;
}

/* ----- ANIMAÇÕES DE BORDA ----- */

.box-login span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #ff8bef, #ff17dc);
    animation: animate1 2s linear infinite;
}

@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.box-login span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 4px;
    background: linear-gradient(to bottom, #ff8bef, #ff17dc);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.box-login span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(to left, #ff8bef, #ff17dc);
    animation: animate3 2s linear infinite;
}

@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.box-login span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background: linear-gradient(to top, #ff8bef, #ff17dc);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

/* ------------Conteúdo login--------------  */

.login-content {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.ipt_login {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    align-self: center;
    background-color: transparent;
    border: 3px solid #ff59e6a2;
    margin-bottom: 5%;
}

label {
    margin-left: 10%;
}

.btn_login {
    width: 82%;
    height: 45px;
    border-radius: 10px;
    background-color: #ff17dc;
    align-self: center;
    font-family: "Poppins", sans-serif;
    border: none;
    font-weight: 600;
    font-size: larger;
    color: white;
    margin-top: 15%;
}

.img-login{
    width: 90%;
    margin-left: -15%;
    margin-bottom: -10%;
}